@keyframes rainbow {
    0% {color: red;}
    15% {color: orange;}
		30% {color: yellow;}
		45% {color: green;}
		60% {color: blue;}
		75% {color: indigo;}
		100% {color: violet;}
}

body {
	background-image: url("corgi.gif");
	float: left;
	width: 100%;
	position: relative;
}

head {
	font-family: "Courier New", Courier, monospace;
	text-align: centre;
}

div.centre {
	margin-top: 1em;
	margin-bottom: 1em;
	width:60%;
	padding: 1em;
	position:relative;
	right: 5%;
  overflow:hidden;
	float: right;
}

h1.aboutHeader{
	font-family: "Comic Sans MS", cursive, sans-serif;
	flex-basis: 100%;
}

.box {
	border: solid;
	flex-basis: 100%;
}

.rainbowAnimation{
	animation-name: rainbow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.about{
	animation-name: rainbow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

p.about {
	flex-basis: 75%;
	padding-left: 1em;
	color: yellow;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

div.about {
	display: flex; /* or inline-flex */
	flex-direction: row;
	align-items: flex-start;
	flex-wrap: wrap;
	background-image: url("uglyBackground.gif");
}

.professionalHistory{
	animation-name: rainbow;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

div.professionalHistory {
	background-image: url("seizure.gif");
	margin-top: 1em;
	margin-bottom: 1em;
}

h1.professionalHistory {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h2.professionalHistory {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h3.professionalHistory {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

h4.professionalHistory {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

p.professionalHistory {
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.languages{
	margin-bottom: 1em;
}

div.skills {
	background-image: url("matrix.gif");
	color: yellow;
}

div.sidebar {
	background-color: #f44242;
	margin-right: 1em;
	margin-top: 1em;
	float:left;
  width:26%;
  position:relative;
  left:0%;
  overflow:hidden;
	height: 100%;
}

.shrink{
	flex-shrink: 0;
}
