@keyframes rainbow {
	0% {color: red;}
	15% {color: orange;}
	30% {color: yellow;}
	45% {color: green;}
	60% {color: blue;}
	75% {color: indigo;}
	100% {color: violet;}
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #222222;
}

head {
	text-align: centre;
}
img {
	align-self: center;
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(212,211,209,0), rgba(212,211,209,0.75), rgba(212,211,209,0));
}

li {
	text-align: left;
}

div.page-header{
	background-image: url("HeaderPhoto.jpg");
	padding: 6em;
}

h1, h2, h3, h4, h5, p, ol, ul {
	color: #D4D3D1;
}
h1.page-header {
	text-align: center;
	text-shadow: 2px 2px #222222;
}

body, div.page-body {
	display: flex;
	flex-direction: column;
}

div.content{
	flex: 1;
	text-align: center;
	flex-width: 100%;
}

div.sidebar {
	order: -1;
	margin-bottom: 1em;
	background-color: #D4D3D1;
}

h1.sidebar, p.sidebar {
	color: #a19d93;
	text-align: center;
}
@media (min-width: 768px) {
	div.page-header{
		margin: 0;	  
		border-bottom: 1em solid #D4D3D1;
	}
	div.page-body {
		flex-direction: row;
		flex: 1;
	}
	div.content {
		flex: 1;
		position: relative;
		width: 70%;
	}
	div.content, h1.aboutHeader{
		text-align: left;
	}
	h1.page-header {
		text-align: right;
	}
	div.about, div.professionalHistory, div.skills{
		position: relative;
		width: 70%;
		margin: auto; 
	}
	div.about {
		flex-direction: row !important;
	}
	div.sidebar {
		/* 12em is the width of the columns */
		flex: 0 0 12em;
		margin: 0;
	}
	p.about {
		flex-basis: 77%;
	}
	h1.aboutHeader{
		align-self: flex-start;
	}
	img {
		padding-left: 1em;
	}
}

h1.aboutHeader{
	flex-basis: 100%;
	align-self: center;
}

.box {
}

p.about {
	padding-left: 1em;
	padding-right: 1em;
}

div.about {
	display: flex; /* or inline-flex */
	flex-direction: column;
	align-items: flex-start;
	flex-wrap: wrap;
	flex-basis: 100%;
}

div.professionalHistory {
	margin-top: 1em;
	margin-bottom: 1em;
}

h1.professionalHistory {
}

h2.professionalHistory {
}

h3.professionalHistory {
}

h4.professionalHistory {
}

p.professionalHistory {
}

.languages{
	margin-bottom: 1em;
}

h1.languages{
}

h1.technologies{
}

div.skills {
}

.shrink{
	flex-shrink: 0;
}
